.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/images/home_bg.png");
}
.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  flex: 1;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  padding: 16px 100px;
}
.logo {
  max-height: 107px;
  width: auto;
  height: 100%;
}
.hero {
  display: flex;
  margin: 16px 100px;
  align-items: center;
  column-gap: 100px;
}
.heroDetailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.heroTitle {
  font-weight: bold;
  font-size: 4rem;
}

.heroSubTitle {
  font-weight: medium;
  font-size: 0.875rem;
  line-height: 1.75rem;
}
.contactButton {
  background-color: #008ed6;
  height: 50px;
  width: 139px;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}
.heroImageContainer {
  flex: 1;
}
.heroImage {
  height: auto;
  max-width: 612px;
  width: 100%;
}
.socialsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: center;
}
.socialsContainer a {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.socialTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.socialsLine {
  height: 1px;
  width: 92.5px;
  background-color: #ffffff;
}
/* Mobile */
@media (max-width: 700px) {
  .navbar {
    padding: 8px 20px;
  }
  .logo {
    max-height: 35.36px;
  }
  .hero {
    flex-direction: column;
    margin: 8px 20px;
    row-gap: 50px;
  }
  .heroTitle {
    font-size: 2rem;
  }
  .socialsContainer {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
